#testimonials-section {
    background-image: url("../../../../assets/customers\ 2.png");

    /* height: 600px; */
    background-size: cover;
    background-position: top;
    background-color: rgb(251, 250, 250);
}

.testimonials-section__container {
    padding: 80px;
}

.testimonials-section__container h2 {
    color: var(--brown-color);
    margin-bottom: 100px;
    text-align: center;
}

.testimonials-section__testimonials {
    justify-content: space-between;
}

.testimonials-section__testimonial {
    width: 30%;
    text-align: center;
}

.testimonials-section__testimonial img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 35px;
}

.testimonials-section__testimonial h4 {
    font-weight: 600;
    font-size: 25px;
    line-height: 200%;
    color: var(--brown-color);
}

.testimonials-section__testimonial h5 {
    color: var(--light-brown-color);
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.testimonials-section__testimonial p {
    color: var(--light-brown-color);
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}
