#chefs-section {
    text-align: center;
}
.chefs-section__container {
    padding: 80px;
}

.chefs-section__container h2 {
    color: var(--brown-color);
}

.chefs-section__container h2 span {
    color: var(--orange-color);
}

.chefs-section__chefs {
    margin-bottom: 80px;
}

.chefs-section__container .btn-large-orange {
    display: block;
    margin: auto;
}

.chefs-section__chef {
    width: calc((100% - 80) / 3);
}

.chefs-section__chef img {
    height: auto;
    border-radius: 50px;
    margin-bottom: 40px;
}

.chefs-section__chef:first-child img {
    background-color: rgb(248, 233, 233);
}

.chefs-section__chef:nth-child(2) img {
    background-color: rgb(244, 221, 177);
}

.chefs-section__chef:last-child img {
    background-color: rgb(245, 244, 241);
}

.chefs-section__chef h4 {
    margin-bottom: 15px;
    color: var(--brown-color);
    font-weight: 600;
    font-size: 25px;
    line-height: 200%;
}

.chefs-section__chef p {
    color: rgb(160, 141, 118);
    line-height: 200%;
    font-size: 25px;
    font-weight: 400;
}
