.hero-section__container,
.menu-section__meals,
.chefs-section__chefs,
.testimonials-section__testimonials {
    gap: 40px;
}
.hero-section__container {
    padding: 80px;
}

.hero-section__left {
    width: 50%;
}

.hero-section__right {
    width: 50%;
    height: max-content;
}
.hero-section__img,
.welcome-section__left img,
.card__img,
.reservation-section__left img,
.chefs-section__chef img {
    width: 100%;
}
.hero-section__img {
    height: auto;
}

.hero-section__left span {
    display: block;
    width: max-content;
    margin-bottom: 24px;
    background-color: rgba(255, 138, 0, 0.2);
    color: var(--orange-color);
    font-size: 18px;
    border-radius: 123px;
    padding: 5px 20px;
}

.hero-section__heading {
    margin-bottom: 24px;
    color: var(--brown-color);
    font-size: 80px;
    font-weight: 600;
    line-height: 88px;
}

.hero-section__description {
    margin-bottom: 50px;
    color: var(--light-brown-color);
    font-size: 20px;
}

.hero-section__cta button:first-child {
    margin-right: 12px;
}
