/* Header */
/* @font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-SemiBold.ttf) format("truetype");
    font-weight: 600;
} */

/* Welcome Section */

#welcome-section {
    background-color: rgba(63, 198, 110, 0.102);
}

.welcome-section__container {
    padding-top: 80px;
    padding-right: 80px;
}

.welcome-section__left {
    width: 55%;
}
.welcome-section__left img {
    height: auto;
}

.welcome-section__right {
    width: 45%;
}
.welcome-section__right h2,
.menu-section__container h2,
.reservation-section__right h2,
.chefs-section__container h2,
.testimonials-section__container h2,
.hours-section__hours h2 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 50px;
}
.welcome-section__right h2 {
    color: var(--brown-color);
}

.welcome-section__right h2 span {
    color: var(--orange-color);
}
.welcome-section__right p,
.reservation-section__right p {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
}
.welcome-section__right p {
    color: var(--light-brown-color);
}
/* Menu Section */

.menu-section__container {
    padding: 80px;
}

.menu-section__container h2 {
    text-align: center;
    color: var(--brown-color);
}

.menu-section__filters {
    justify-content: space-between;
    margin-bottom: 60px;
}

.menu-section__meals {
    flex-wrap: wrap;
}

.menu-section__stars {
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
}

.menu-section__price {
    font-size: 25px;
    line-height: 38px;
    color: var(--brown-color);
    font-weight: 600;
}

.card {
    width: calc((100% - 80px) / 3);

    padding: 35px 37px;
    background-color: rgba(208, 204, 199, 0.2);
    border-radius: 70px;
}

.card__img {
    height: auto;
    margin-bottom: 24px;
}

.card__title {
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    text-align: center;

    margin-bottom: 5px;
}

.card__text {
    font-size: 14px;
    line-height: 28px;
    color: rgb(89, 68, 43);
    text-align: center;
    margin-bottom: 30px;
}

.card__footer {
    justify-content: space-between;
}
/*Reservation Section*/
#reservation-section {
    background-color: rgb(250, 235, 215);
}

.reservation-section__container {
    padding-left: 0;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.reservation-section__left {
    width: 55%;
}

.reservation-section__left img {
    height: auto;
}

.reservation-section__right {
    width: 45%;
}
.reservation-section__right h2 {
    color: var(--medium-brown-color);
}

.reservation-section__right h2 span {
    color: var(--orange-color);
}

.reservation-section__right p {
    color: var(--light-brown-color);
}
/* Chefs Section*/
#chefs-section {
    text-align: center;
}
.chefs-section__container {
    padding: 80px;
}

.chefs-section__container h2 {
    color: var(--brown-color);
}

.chefs-section__container h2 span {
    color: var(--orange-color);
}

.chefs-section__chefs {
    margin-bottom: 80px;
}

.chefs-section__container .btn-large-orange {
    display: block;
    margin: auto;
}

.chefs-section__chef {
    width: calc((100% - 80) / 3);
}

.chefs-section__chef img {
    height: auto;
    border-radius: 50px;
    margin-bottom: 40px;
}

.chefs-section__chef:first-child img {
    background-color: rgb(248, 233, 233);
}

.chefs-section__chef:nth-child(2) img {
    background-color: rgb(244, 221, 177);
}

.chefs-section__chef:last-child img {
    background-color: rgb(245, 244, 241);
}

.chefs-section__chef h4 {
    margin-bottom: 15px;
    color: var(--brown-color);
    font-weight: 600;
    font-size: 25px;
    line-height: 200%;
}

.chefs-section__chef p {
    color: rgb(160, 141, 118);
    line-height: 200%;
    font-size: 25px;
    font-weight: 400;
}
/* Testomonials section */

#testimonials-section {
    background-image: url("./assets/customers\ 2.png");

    /* height: 600px; */
    background-size: cover;
    background-position: top;
    background-color: rgb(251, 250, 250);
}

.testimonials-section__container {
    padding: 80px;
}

.testimonials-section__container h2 {
    color: var(--brown-color);
    margin-bottom: 100px;
    text-align: center;
}

.testimonials-section__testimonials {
    justify-content: space-between;
}

.testimonials-section__testimonial {
    width: 30%;
    text-align: center;
}

.testimonials-section__testimonial img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 35px;
}

.testimonials-section__testimonial h4 {
    font-weight: 600;
    font-size: 25px;
    line-height: 200%;
    color: var(--brown-color);
}

.testimonials-section__testimonial h5 {
    color: var(--light-brown-color);
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.testimonials-section__testimonial p {
    color: var(--light-brown-color);
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}
/* Busines Hours section */
.hours-section__container {
    padding: 80px;
}

.hours-section__backgraund {
    max-width: 1150px;
    height: 750px;
    margin: 0 auto;
    border-radius: 150px;
    background-image: url("./assets/business-hours.png");

    align-items: center;
    justify-content: center;
    text-align: center;
}

.hours-section__hours h2 {
    color: rgb(255, 255, 255);

    margin-bottom: 15px;
}

.hours-section__hours h3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
}

.hours-section__lunch-dinner {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 50px;
}

.hours-section__lunch-dinner p {
    color: rgb(251, 250, 250);
    text-align: center;

    line-height: 200%;
}

.hours-section__lunch-dinner p:last-child {
    text-align: right;
}

.hours-section__hours .btn-large-orange {
    margin-right: 15px;
}

/* Footer */

#footer {
    background-color: var(--medium-brown-color);
}

.footer__container {
    padding: 80px;
}

.footer__content {
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer__text {
    color: rgb(236, 240, 241);
    font-size: 16px;
    line-height: 32px;
    display: block;
}

.footer__brand {
    width: 30%;
}

.text__center {
    text-align: center;
}
.footer__heading {
    color: var(--orange-color);
    font-size: 25px;
    line-height: 50px;
}

.footer__social-icons {
    margin-top: 40px;
}
.footer__social-icons img:first-child {
    margin-right: 30px;
}
.footer__social-icons img:nth-child(2) {
    margin-right: 30px;
}

.footer__logo {
    margin-bottom: 25px;
}

.footer__contact {
    width: 30%;
}
.footer__contact p {
    line-height: 24px;
}
