* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/* Buttons */
.btn {
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.btn-sm {
    height: 50px;
    border-radius: 133px;
    padding-left: 36px;
    padding-right: 36px;
}
.btn-green {
    background-color: #3fa72f;
}
.btn-orange {
    background-color: #ff8a00;
}
.btn-black {
    background-color: #311f09;
}
.btn-gray {
    background-color: #ecf0f1;
    color: #311f09;
}
.btn-white {
    background-color: #ffffff;
    color: #311f09;
}
.btn-md {
    height: 55px;
    font-size: 16px;
    font-weight: 400;
    padding-right: 36px;
    padding-left: 36px;
    border-radius: 162px;
}
.btn-lg {
    height: 74px;
    font-size: 20px;
    font-weight: 600;
    padding-right: 55px;
    padding-left: 55px;
    border-radius: 162px;
}
/* Container */
.container {
    max-width: 1440px;
    margin: 0 auto;
}
:root {
    --orange-color: rgb(255, 138, 0);
    --brown-color: rgb(49, 31, 9);
    --light-brown-color: rgb(92, 69, 41);
    --medium-brown-color: rgb(61, 52, 41);
}
