* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Container */
.container {
    max-width: 1440px;
    margin: 0 auto;
}
:root {
    --orange-color: rgb(255, 138, 0);
    --brown-color: rgb(49, 31, 9);
    --light-brown-color: rgb(92, 69, 41);
    --medium-brown-color: rgb(61, 52, 41);
}
