#footer {
    background-color: var(--medium-brown-color);
}

.footer__container {
    padding: 80px;
}

.footer__content {
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer__text {
    color: rgb(236, 240, 241);
    font-size: 16px;
    line-height: 32px;
    display: block;
}

.footer__brand {
    width: 30%;
}

.text__center {
    text-align: center;
}
.footer__heading {
    color: var(--orange-color);
    font-size: 25px;
    line-height: 50px;
}

.footer__social-icons {
    margin-top: 40px;
}
.footer__social-icons img:first-child {
    margin-right: 30px;
}
.footer__social-icons img:nth-child(2) {
    margin-right: 30px;
}

.footer__logo {
    margin-bottom: 25px;
}

.footer__contact {
    width: 30%;
}
.footer__contact p {
    line-height: 24px;
}
